.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    height: 100%;
    
}

.dialog{
    padding: 10px;
    

}

.dialogsItems{
    padding: 10px;    
    
}

.dialogActive {
    color: violet;
    margin: 10px;
  
}

.messages {
    background-color: #7dc4fa;
    
}

.message {
    
}

.NewMessage{
    width: 500px;
    height: 50px;
}